<!--The content below is only a placeholder and can be replaced.-->
<div style="vertical-align:middle;height:40px;background-color:#fafafa">
    <div
        style="cursor:pointer;width:1000px !important; margin-left:auto;margin-right:auto;padding-top:5px"
    >
        <img width="35px" src="assets/small-logo.png" />
        <div style="height:40px;display:inline-block;vertical-align:middle">
            ServerBeat
        </div>
    </div>
</div>

<div style="width:1000px !important; margin-left:auto;margin-right:auto">
    <router-outlet></router-outlet>
</div>
